.error {
    -fx-border-radius: 5, 5;
    -fx-border-width: 1;
    -fx-border-color:  	#FF3333 ;
}

.warning {
    -fx-border-radius: 5, 5;
    -fx-border-width: 1;
    -fx-border-color: #FF9933;
}

.root {
	-fx-font-size: 11pt;
}